header{
    display: flex;
    justify-content: space-around;
}
h1{
    text-align: center;
}
main{
    display: flex;
    justify-content: space-around;

}
div{

    background-color: red;
    width: 300px;
    height: 300px;
margin-top: 100px;
color: white; font-size: 50px;
display: flex;
justify-content: center;
align-items: center;}
footer{
    display: flex;
    justify-content: space-around;
    
}